version: '3'
services:
  homeassistant:
    ports:
      - "8123:8123"
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    env_file:
      - ./docker/.env
    volumes:
      - ./docker/entrypoint.sh:/init-custom
      - ./docker/config.tar.gz:/tmp/config.tar.gz
      - ../myPyllant/src/myPyllant:/tmp/myPyllant
      - ./custom_components/mypyllant/:/tmp/mypyllant-component
      - /etc/localtime:/etc/localtime:ro
    entrypoint: ["/init-custom"]
